body {
  margin: 0;
  padding: 0;
  border: none;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.login_page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts_page-wrapper {
  width: 100%;
  min-height: 100vh;
}
.contacts_header-wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_shadow_fix {
  box-shadow: none;
}
